// Add variables here

// COLOURS
$color-purple: #42233e;
$color-purple-dark: #33102e;
$color-beige: #fff6ee;
$color-dark-pink: #c87a7a;
$color-grey: #bebdbd;
$color-grey-light: #ccc;
$color-grey-dark: #555;

// Component colors
$color-header: $color-purple;

// Layout
$header-height: 60px;
