@import "../../styles/variables";

.about {
	.about-container {
		display: flex;
		justify-content: space-between;

		.column {
			flex: 1;
			$column-gap: 60px;
			&.left {
				margin-right: $column-gap/2;
			}
			&.right {
				margin-left: $column-gap/2;
			}
		}
		h2 {
			margin-bottom: 0.4em;
			text-align: center;
		}
		.subheading {
			padding-bottom: 1em;
			text-align: center;
			border-bottom: 1px solid $color-grey-light;
			margin-bottom: 2rem;
		}
		.summary {
			margin-bottom: 1em;
		}

		.button {
			margin-top: 1rem;
		}
	}
}
