@import "../../styles/variables";

.about {
	.about-container {
		display: flex;
		justify-content: space-between;

		@media (max-width: 992px) {
			display: block;
		}

		.column {
			flex: 1;
			$column-gap: 60px;
			&.left {
				margin-right: $column-gap/2;
			}
			&.right {
				margin-left: $column-gap/2;
			}

			@media (max-width: 992px) {
				margin: 0 0 30px !important;
			}
		}
		h2 {
			margin-bottom: 0.4em;
			text-align: center;
		}
		.subheading {
			padding-bottom: 1em;
			text-align: center;
			border-bottom: 1px solid $color-grey-light;
			margin-bottom: 2rem;
		}
		.summary {
			margin-bottom: 1em;
		}

		.button {
			margin-top: 1rem;
		}

		.skills {
			margin-bottom: 70px;
			.h5 {
				margin-bottom: 1rem;
			}
			.skills-legend {
				height: 90px;
				padding-top: 70px;
				padding-left: 30%;

				.labels {
					display: flex;
					justify-content: space-between;

					> div {
						flex: 1;
						max-width: 23%;
						min-width: 23%;
						white-space: nowrap;
						transform: rotate(-60deg);
						transform-origin: left top;
					}
				}
			}
		}

		.tools {
			h5 {
				margin-bottom: 2rem;
			}
			.tool-icons {
				display: flex;
				justify-content: space-around;
				align-items: center;
				font-size: 40px;
				flex-wrap: wrap;

				> * {
					min-width: 20%;
					max-width: 20%;
					margin-bottom: 30px;
				}
			}
		}
	}
}
