@import "../../styles/variables";

.header-container {
	.header {
		z-index: 5;
		flex: 0;
		background-color: $color-header;
		color: white;
		min-height: $header-height;
		position: fixed;
		top: 0;
		width: 100%;

		.header__left {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
		}
		.header__right {
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			display: flex;
			justify-content: flex-end;

			a {
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 0 20px;
				height: 100%;
				font-size: 12px;
				transition: all 0.3s ease;
				cursor: pointer;

				svg {
					font-size: 20px;
				}

				&:hover {
					background-color: $color-purple-dark;
					transition: all 0.2s ease;
				}
				&:last-child {
					border-left: 2px solid $color-purple-dark;
					padding: 0 30px;
				}
			}
		}
	}

	.header-buffer {
		z-index: 1;
		flex: 0;
		min-height: $header-height;
		position: relative;
	}
}
