.gallery {
	display: flex;
	justify-content: space-between;
	align-items: center;

	.thumbnail-container {
		min-width: 19%;
		max-width: 19%;
		overflow: hidden;
		position: relative;

		.image {
			width: 100%;
			padding-top: 100%;
			background-position: center;
			background-size: cover;
		}
	}
}
