@import "../../styles/variables";

.footer {
	flex: 0;
	padding: 100px 0 50px;
	background-color: $color-purple-dark;
	color: #ffffff;
	font-size: 14px;

	.contact {
		text-align: center;
		font-size: 2em;
		margin-bottom: 100px;

		h4 {
			margin-bottom: 0.5em;
		}
	}
	.disclaimer {
		border-top: 1px solid $color-pink-dark;
		padding: 20px 50px 0px;

		p {
			color: #ffffff;
			font-size: 15px;
			line-height: 1.5em;
		}
	}
}
