@import '../../styles/variables';

.footer {
    flex: 0;
    padding: 20px 0;
    background-color: $color-purple-dark;
    color: #ffffff;
    font-size: 14px;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__col {
}
