@import '../../styles/variables';

.convertor {
	height: 80vh;
	align-items: center;
	display: flex;
	justify-content: center;
	flex-direction: column;

	h2 {
		margin-bottom: 2em;
	}

	form {
		width: 100%;
	}

	.filename-input-container {
		text-align: center;
		border-bottom: 1px solid lightgrey;
		padding-bottom: 3rem;
		margin-bottom: 2rem;

		.filename-input {
			position: relative;
			input {
				outline: none;
				display: block;
				font-size: 24px;
				width: 100%;
				text-align: center;
				margin-bottom: 3rem;
				height: 80px;
				padding: 0 20px;
			}
			button {
				border: none;
				background-image: none;
				background-color: transparent;
				-webkit-box-shadow: none;
				-moz-box-shadow: none;
				position: absolute;
				outline: none;
				top: 0px;
				right: 0px;
				height: 80px;
				width: 80px;
				font-size: 30px;
				cursor: pointer;
				transition: all 0.3s ease;

				&:hover {
					color: indianred;
					transition: color 0.2s ease;
				}
			}
		}

		.copy-btn {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			cursor: pointer;
			background-color: AntiqueWhite;
			text-align: left;
			padding-left: 40px;
			font-size: 20px;
			font-weight: 600;
			height: 70px;

			input {
				border: none;
				background-image: none;
				background-color: transparent;
				-webkit-box-shadow: none;
				-moz-box-shadow: none;
				outline: none;
				display: block;
				box-shadow: none;
				max-width: 80%;
				width: 100%;
				line-height: 1.5em;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			button {
				border: none;
				background-color: purple;
				color: white;
				padding: 10px 20px;
				width: 160px;
				height: 100%;
				text-align: center;
				+ div {
					font-size: 16px;
				}
			}
		}
	}

	.settings {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.spaces {
		flex: 2;
		font-size: 16px;
		line-height: 2em;
		text-align: left;
		width: 80%;
		display: inline-block;

		label {
			padding: 0 20px 0 10px;
			cursor: pointer;
		}
	}

	.fixes {
		flex: 1;

		div {
			margin-bottom: 1rem;

			label {
				width: 100px;
				display: inline-block;
			}
		}
	}
}
